html
{
    overflow-x: hidden;
    height: 100vh;
    margin-top: 0px;
    margin-left: 0px;
}

body
{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#headerIndex
{
    color: white;
    height: 10vh;
    width: 100vw;
    background-color: purple;
    margin-bottom: 0px;
}

#tituloIndex
{
    font-family: Segoe UI;
    font-weight:bold;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px; 
    padding-top: 1.5vh;
    padding-left: 50px;
    float: left;
}

#alinearContenidosIndex
{
    vertical-align: 4vh;
}

#contenidosIndex
{
    margin-left: 20vw;
}

.linkIndex
{
    text-decoration: none;
    font-family: Segoe UI Light;
    color: white;
    font-size: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top:5vh;
    padding-bottom:2.8vh;
    margin-left:-5px;
    transition: 0.3s;
}

.linkIndex:hover
{
    color: purple;
    background-color: lightblue;
    transition: 0.3s;
}

.linkIndexRedes
{
    text-decoration: none;
    margin-left: 35px;
}

.linkImgIndex
{
    margin-bottom: -12px;
    height: 40px;
    width: 40px;
}

#contenedorBodyIndex
{
    margin-top: 0px;
}

.producto
{
    margin-top: 50px;
    display: inline-block;
    margin-left: 90px;
    margin-bottom: 50px;
    min-width: 225px;
    min-height: 250px;
}

p
{
    font-size: 22px;
    color: black;
    font-family: Segoe UI Light;
    margin-top: 10px;
    text-align: center;
}

.imgProducto
{
    color: white;
    background-color: purple;
    border-radius: 100%;
    margin-left: 12.5px;
    margin-top: 0px;
    width: 200px;
    height: 200px;
}

#pieIndex
{
    width:100vw;
    text-align: center;
    font-family: Segoe UI Light;
    font-size: 15px;
    color: lightgrey;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: purple;
}